# Details
[Module Webpage](https://warwick.ac.uk/fac/sci/dcs/teaching/modules/cs262/)
**Lecturer:** [Torsten Mutze](https://peoplesearch.warwick.ac.uk/profile/2370551)
**Term:** 2
**Status:** Option List A
**Assessment:** *75%* Exam, *25%* Coursework
- [Past Papers](https://warwick.ac.uk/exampapers?q=CS262)
# Content 
- Propositional logic: proofs, semantics, normal forms, SAT solvers.
- Predicate logic: proofs, semantics.
- Specifying and modelling software.
- Verification by model checking.
- Proof calculi for program verification
# Reading List
[Talis Aspire](https://rl.talis.com/3/warwick/lists/6ED7372A-6C02-0841-7EFD-CE10EF13F227.html?lang=en-GB)
