@use "./base.scss";
@use "./variables.scss" as *;
@use "colors";
@use "table";

.forced-row { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 0;
    box-sizing: border-box;
    padding: 0;
    position: relative;

    & .map, .darkmode {
        margin: 0.4rem;
    }

    // @media all and ($mobile) {
    //     justify-content: flex-end;
    // }
}

em { 
    color: #B25A89 !important;
    font-style: italic;
}

strong { 
    color: #907AA9 !important;
    font-style: bold;
}


.content-container {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 128px;
}

.article-header {
    border-radius: 5px;
    margin-top: 50px;
    padding: 25px;
    border: 1px solid #5687d1;
    background: #6096e6;

    h1 {
        color: #f9f5e9;
        padding: 0px;
        margin: 0;
    }

    p {
        color: #f9f5e9;
        padding: 0;
        padding-top: 5px; 
        margin: 0;
    }
}

// NEW CODE

.explorer {
    text-align: center;

    & a {
        text-decoration: none;
    } 

    & .visited {
        color: inherit;
    }
} 