$pageWidth: 750px;
$page-width: 750px;

$mobile: 600px;
$mobileBreakpoint: 600px;
$mobile-breakpoint: 600px;
$tabletBreakpoint: 1000px;
$tablet-breakpoint: 1000px;

$sidePanelWidth: 400px;
$side-panel-width: 400px;

$right-width: 450px;
$right-panel-begins: 0px;
$margins-begin: 825px;

$topSpacing: 4.5rem;
$fullPageWidth: $page-width + 2 * $sidePanelWidth;
$full-page-width: $page-width + $side-panel-width + $right-width;
$base-margin: 0.5rem;

$boldWeight: 700;
$bold-weigt: 700;
$semiBoldWeight: 600;
$semi-bold-weight: 600;
$normalWeight: 400;
$normal-weight: 400;


$line-height: 1.8rem;